BPEL/CompositeApp1/src/jbiasa/CompositeApp1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="CompositeApp1"
             xmlns:tns="CompositeApp1" xmlns:ns="http://j2ee.netbeans.org/wsdl/Bpel_practica/src/getCallsInfo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://rs.udc.es/telco" xmlns:ns2="http://rs.udc.es/rating" xmlns:ns3="http://rs.udc.es/billing" xmlns:ns4="http://rs.udc.es/reward" xmlns:ns5="http://j2ee.netbeans.org/wsdl/Bpel_practica/src/getConfirmationCall" xmlns:ns6="http://j2ee.netbeans.org/wsdl/Bpel_practica/src/getConfirmationCallPaid">
    <import namespace="http://j2ee.netbeans.org/wsdl/Bpel_practica/src/getCallsInfo" location="../jbiServiceUnits/Bpel_practica/getCallsInfo.wsdl"/>
    <import namespace="http://rs.udc.es/telco" location="../jbiServiceUnits/Bpel_practica/TelcoService.wsdl"/>
    <import namespace="http://rs.udc.es/rating" location="../jbiServiceUnits/Bpel_practica/RatingService.wsdl"/>
    <import namespace="http://rs.udc.es/billing" location="../jbiServiceUnits/Bpel_practica/BillingService.wsdl"/>
    <import namespace="http://rs.udc.es/reward" location="../jbiServiceUnits/Bpel_practica/RewardService.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/Bpel_practica/src/getConfirmationCall" location="../jbiServiceUnits/Bpel_practica/getConfirmationCall.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/Bpel_practica/src/getConfirmationCallPaid" location="../jbiServiceUnits/Bpel_practica/getConfirmationCallPaid.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns1:TelcoProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="findCallsToBill">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TelcoException">
                <soap:fault name="TelcoException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeStatus">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TelcoException">
                <soap:fault name="TelcoException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns:getCallsInfoPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCallsInfoOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns2:RatingProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getDiscount">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RatingException">
                <soap:fault name="RatingException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPhoneCallPrice">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RatingException">
                <soap:fault name="RatingException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns3:BillingProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createAndSendBill">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:RewardProvider">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="addPendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmPendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="removePendingPoints">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns5:getConfirmationCallPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getConfirmationCallOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns6:getConfirmationCallPaidPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getConfirmationCallPaidOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="CompositeApp1"/>
            </input>
        </operation>
    </binding>
    <service name="CompositeApp1Service1">
        <port name="TelcoProvider" binding="tns:casaBinding1">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/TelcoService"/>
        </port>
    </service>
    <service name="CompositeApp1Service2">
        <port name="getCallsInfo" binding="tns:casaBinding2">
            <soap:address location="http://localhost:5050/CompositeApp1/getCallsInfo"/>
        </port>
    </service>
    <service name="CompositeApp1Service3">
        <port name="sendConfirmation" binding="tns:casaBinding3">
            <soap:address location="http://localhost:5050/CompositeApp1/getConfirmationCall"/>
        </port>
    </service>
    <service name="CompositeApp1Service4">
        <port name="RatingProvider" binding="tns:casaBinding4">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/RatingService"/>
        </port>
    </service>
    <service name="CompositeApp1Service5">
        <port name="rewardProvider" binding="tns:casaBinding5">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/RewardService"/>
        </port>
    </service>
    <service name="CompositeApp1Service6">
        <port name="billingProvider" binding="tns:casaBinding6">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/BillingService"/>
        </port>
    </service>
    <service name="CompositeApp1Service7">
        <port name="sendConfirmationPaid" binding="tns:casaBinding7">
            <soap:address location="http://localhost:5050/CompositeApp1/getConfirmationCallPaid"/>
        </port>
    </service>
</definitions>
